<div class="container">
  <h3 align="center"><b>最近追加されたアイテム</b></h3>

  <!-- カテゴリーごとに最近追加された商品を取得して表示する -->
  <!-- Listをfor文で回してカテゴリーごとに商品情報を出力する。-->
  <div align="center">
    <ng-container *ngFor="let goodsList of recentAddedGoods.recentGoodsList">
      <h4>{{goodsList.categoryName}}</h4>
      <div align="center" id="recent-goods-group">
        <ng-container *ngFor="let goods of goodsList.recentGoodsList; index as i;">
          <div id="{{'recent-goods' + i}}">
            <img src="{{goods.imgUrl}}" alt="{{goods.goodsName}}の画像" width="200px" height="200px"
              (click)="moveToGoodsDetailPage(goods.id)"><br>
            {{goods.goodsName}}
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
  <span id="register-btn" (click)="moveToGoodsRegistrationPage()">出品</span>
</div>