<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <h2 align="center">商品の情報を入力</h2>
      <div class="form-group">
        <label for="goods-name">商品名<span style="color: red">*</span></label>
        <input id="goods-name" class="form-control" placeholder="商品名(必須)">
      </div>
      <div class="form-group">
        <label for="description">商品説明<span style="color: red">*</span></label>
        <input id="description" class="form-control">
      </div>
      <div class="form-group">
        <label for="category">カテゴリー<span style="color: red">*</span></label>
        <select id="category" [(ngModel)]="userInputData.category.id" class="form-control">
          <option value="">--</option>
          <ng-container *ngFor="let category of goodsOptions.category">
            <option [value]="category.id">{{category.name}}</option>
          </ng-container>
        </select>
      </div>
      <div class="form-group">
        <label for="use-status">商品の状態<span style="color: red">*</span></label>
        <select id="use-status" [(ngModel)]="userInputData.useStatus.id" class="form-control">
          <option value="">--</option>
          <ng-container *ngFor="let useStatus of goodsOptions.useStatus">
            <option>{{useStatus.useStatus}}</option>
          </ng-container>
        </select>
      </div>
      <div class="form-group">
        <label for="responsibility">配送料の負担<span style="color: red">*</span></label>
        <select id="responsibility" [(ngModel)]="userInputData.feeResponsibility.id" class="form-control">
          <option value="">--</option>
          <ng-container *ngFor="let feeResponsibility of goodsOptions.feeResponsibility">
            <option>{{feeResponsibility.feeResponsibility}}</option>
          </ng-container>
        </select>
      </div>
      <div class="form-group">
        <label for="src-region">配送元地域<span style="color: red">*</span></label>
        <select id="src-region" [(ngModel)]="userInputData.srcRegion.id" class="form-control">
          <option value="">--</option>
          <ng-container *ngFor="let srcRegion of goodsOptions.srcRegion">
            <option>{{srcRegion.srcRegion}}</option>
          </ng-container>
        </select>
      </div>
      <div class="form-group">
        <label for="shipping-date">発送日の目安<span style="color: red">*</span></label>
        <select id="shipping-date" [(ngModel)]="userInputData.shippingDate.id" class="form-control">
          <option value="">--</option>
          <ng-container *ngFor="let shippingDate of goodsOptions.shippingDate">
            <option>{{shippingDate.shippingDate}}</option>
          </ng-container>
        </select>
      </div>
      <button id="put-btn" class="btn btn-danger">出品確認画面に進む</button>
    </div>
    <div class="col-2"></div>
  </div>
</div>