<div class="container header" align="center">
  <div class="input-group search-box-group">
    <input class="form-control search-box" type="text" placeholder="何かお探しですか？" [(ngModel)]="searchWords">
    <div class="input-group-append">
      <button class="input-group btn btn-primary" (click)="searchItems()">検索</button>
    </div>
  </div>
  <div class="menu-group" align="center">
    <div>
      <button class="btn btn-register" (click)="toMemberRegistrationForm()">新規会員登録</button>
      <button class="btn btn-login" (click)="toLoginForm()">ログイン</button>
    </div>
  </div>
</div>