.header {
  margin-top: 20px;
}

@media screen and (min-width: 800px) {
  .search-box-group {
    width: 600px;
  }
}

@media screen and (max-width: 800px) {
  .search-box-group {
    width: 300px;
  }
}


.search-box {
  background-color: #EEEEEE;
}