.header {
  margin-top: 20px;
}

.search-box {
  background-color: #EEEEEE;

}

@media screen and (min-width: 800px) {
  .search-box {
    width: 600px;
  }
}


@media screen and (max-width: 800px) {
  .search-box {
    width: 500px;
  }
}

@media screen and (max-width: 500px) {
  .search-box {
    width: 100%;
  }
}