<div class="container header" align="center">
  <div class="input-group search-box-group">
    <span class="home" (click)="moveToTop()">RakuCari</span>
    <input class="form-control" type="text" placeholder="何かお探しですか？" [(ngModel)]="searchWords">
    <div class="input-group-append">
      <button class="input-group btn btn-primary" (click)="searchItems()">検索</button>
    </div>
  </div>
  <div class="menu-group" align="center">
    <div class="search-group">
      <ul class="pull-down-group" (mouseleave)="changeCategoryHover(false); changeSubCategoryHover(false)">
        <li class="pull-down-menu">
          <span (mouseenter)="changeCategoryHover(true)"><b>カテゴリーから探す</b></span>
        </li>
        <ng-container *ngIf="categoryHover || subCategoryHover">
          <div class="pull-down-list" (mouseleave)="changeSubCategories(null)">
            <div class="pull-down-list-group">
              <div>
                <ng-container *ngFor="let category of categories; index as i">
                  <li class="pull-down-content"
                    (mouseenter)="changeSubCategoryHover(true); changeSubCategories(category.subCategories)">
                    <span>{{category.name}}</span>
                  </li>
                </ng-container>
              </div>
              <div>
                <ng-container *ngIf="subCategories != null">
                  <ng-container *ngFor="let category of subCategories">
                    <li class="sub-pull-down-content">
                      <span>{{category.name}}</span>
                    </li>
                  </ng-container>
                </ng-container>
              </div>
            </div>
          </div>
        </ng-container>
      </ul>
      <ul class="pull-down-group">
        <li class="pull-down-menu">
          <span><b>ブランドから探す</b></span>
        </li>
      </ul>
    </div>
    <div>
      <button class="btn btn-register" (click)="toMemberRegistrationForm()">新規会員登録</button>
      <button class="btn btn-login" (click)="toLoginForm()">ログイン</button>
    </div>
  </div>
</div>