.header {
  margin-top: 20px;
}


@media screen and (min-width: 800px) {
  .search-box {
    width: 600px;
    background-color: #EEEEEE;
  }
}


@media screen and (max-width: 800px) {
  .search-box {
    width: 400px;
  }
}