table {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #DDDDDD;
}

tr {
  height: 50px;
}

th {
  width: 150px;
  background-color: #EEEEEE;
  padding: 10px;
  border: 1px solid #DDDDDD;
  font-weight: normal;
}

td {
  width: 150px;
  padding: 10px;
  border: 1px solid #DDDDDD;
}

#purchase-btn {
  width: 300px;
}

#detail {
  margin-top: 20px;
}
