<div class="container">
  <div class="row">
    <div align="center" class="col-4"></div>
    <div align="center" class="col-4">
      <h2>{{goods.goodsName}}</h2>
      <img src="{{goods.imgUrl}}" alt="商品の画像" width="200px" height="200px"><br>
      <table>
        <tbody>
          <tr>
            <th>カテゴリー</th>
            <td>{{goods.category}}</td>
          </tr>
          <tr>
            <th>商品の状態</th>
            <td>{{goods.goodsStatus}}</td>
          </tr>
          <tr>
            <th>配送料の負担</th>
            <td>{{goods.feeResponsibility}}</td>
          </tr>
          <tr>
            <th>配送元地域</th>
            <td>{{goods.srcRegion}}</td>
          </tr>
          <tr>
            <th>発送日の目安</th>
            <td>{{goods.shippingDate}}</td>
          </tr>
        </tbody>
      </table>
      <h1>{{goods.price}}円</h1>
      <button id="purchase-btn" class="btn btn-danger">購入画面に進む</button>
      <p id="detail">
        {{goods.description}}
      </p>
    </div>
    <div align="center" class="col-4"></div>
  </div>

</div>