<div class="container">
  <div class="row">
    <div align="center" class="col-4"></div>
    <div align="center" class="col-4">
      <h2>商品名</h2>
      <img src="../../assets/images/dummy-goods1/dummy1.png" alt="商品の画像" width="200px" height="200px"><br>
      <table>
        <tbody>
          <tr>
            <th>カテゴリー</th>
            <td>カテゴリー名</td>
          </tr>
          <tr>
            <th>商品の状態</th>
            <td>未使用</td>
          </tr>
          <tr>
            <th>配送料の負担</th>
            <td>出品者負担</td>
          </tr>
          <tr>
            <th>配送元地域</th>
            <td>東京都</td>
          </tr>
          <tr>
            <th>発送日の目安</th>
            <td>2〜3日で発送</td>
          </tr>
        </tbody>
      </table>
      <h1>価格</h1>
      <button id="purchase-btn" class="btn btn-danger">購入画面に進む</button>
      <p id="detail">
        商品詳細
      </p>
    </div>
    <div align="center" class="col-4"></div>
  </div>

</div>